<ion-header class="ion-no-border">
  <ion-toolbar>
   <img src="../../assets/img/logo.png">
   <div class="ion-padding flex-element">
     <h1><b>Mot de passe oublié?</b></h1>
   </div>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Votre adresse email</ion-label>
    <ion-input type="email" placeholder="Adresse email"></ion-input>
  </ion-item>
  <p class="ion-padding">
  "Un email de confirmation vous sera envoyer dans 2 min pour reinitialiser votre mot de passe actuel."
  </p>
  <div class="ion-padding container-form-btn">
    <button class="form-btn-back custom-font" routerLink="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <button class="form-btn custom-font">
      <b>SOUMETTRE</b>
    </button>
  </div>
</ion-content>
