*{
	font-family: Montserrat, sans-serif;
}

ion-header{

	ion-toolbar{
		img{
			width: 50%;
			margin-top:1em;
		}
	}
	.flex-element{
		display: flex;
		justify-content:space-between;

		h2{
			color: black;
			font-size: 20px;
		}

		h6{
			color: #007F00;
			margin-top: 1.8em;
		}
	}
}

ion-content{

	.container-form-btn {
		display: flex;
		justify-content: space-between;
		margin-top:13em !important;   

		.form-btn {
			padding: 0 20px;
			min-width: 200px;
			height: 48px;
			background-color: #007F00;
			border-radius: 10px;
			font-size: 14px;
			color: #FFFFFF;
			text-transform: uppercase;
			padding-top: 5px;
			transition: all 0.4s;
		}

		.form-btn-back {
			padding: 0 20px;
			min-width: 100px;
			height: 48px;
			border-radius: 10px;
			font-size: 14px;
			color: #000000;
			text-transform: uppercase;
			padding-top: 5px;
			transition: all 0.4s;
		}
		.form-btn:hover {
			background-color: #28333b;
			box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
		}

		ion-icon{
			font-size:25px;
		}

	}

	p{
		color:grey;
		font-size:15px;
	}
}